<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/client/styles/style.css">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Capstone Travel App
        </div>
        <div class="holder zip">
            <label for="zip">Enter City</label>
            <input type="text" id="city" placeholder="enter city here">
        </div>
        <div id="photo">
            <img src="" />
        </div>
        <div class="holder date">
            <label for="date">Enter Date</label>
            <input type="date" id="date">
        </div>
        <div>
            <button id="generate" type="submit"> Lets Travel! </button>
        </div>

        <div>
            <h4>Countdown</h4>
            <div id="countdown"></div>
        </div>
        <div id="weather">

        </div>
    </div>

    <script src="app.js" type="text/javascript"></script>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                //navigator.serviceWorker.register('../../../dist/service-worker.js');
            });
        }
    </script>

</body>

</html>